server:
  port: 8080

spring:
  application:
    name: ewm-main-service

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

app:
  stats:
    base-url: ${STATS_BASE_URL:http://localhost:9090}